.nav{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(139, 176, 255); */
    padding: 0 5rem 0 5rem;
    z-index: 80;
    position: absolute;
    top:0;
    left:0;
}
.manishLogo{
    margin-top: 0.4rem;
    height: 3.7rem;
    width: 3.7rem;
}
.contents{
    width: 40%;
}
.contents ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.contents ul li{
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color:white;
}
.fa-bars{
    display: none;
}
.links{
    text-decoration: none;
    color:black;
}
.fa-bars , .fa-xmark{
    font-size: 1.55rem;
    cursor: pointer;
    z-index: 130;
}
.contact{
    height: 2.3rem;
    width:6rem;
    border:none;
    outline:none;
    background-color: var(--bg);
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.contact:hover{
    background-color: rgb(255, 34, 34);
    transform: scale(1.05);
}
.li4{
    font-size: 0.5rem;
}
.li4a{
    text-decoration: none;
    color:white;
}



/* Navbar */
@media (max-width: 1100px) {
    .contents{
        width: 50%;
    }
}
@media (max-width: 950px) {
    .contents{
        width: 70%;
    }
    .nav{
        padding-left:7rem;
    }
}
@media (max-width: 767px) {
    .fa-bars{
        display: block;
    }
    .nav{
        
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    .contents{
        height: 100vh;
        position: absolute;
        padding-top: 2rem;
        top: 0;
        width:100vw;
        background-color: rgb(233, 240, 255);
        left:0;
        animation: popIn 0.3s ease-in-out;
        transform: translateY(0);
        display: none;
        position: fixed;
    }
    .contents ul{
        height: calc(100vh - 60px);
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .fa-xmark{
        position: fixed;
        right: 2.8rem;
    }
    .hidden{
        display: block;
    }
}
@keyframes popIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
